<!DOCTYPE html>
<html lang="es" xml:lang="es">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

		<title>Sistema de gestion de accesos y aforo</title>
	</head>

	<body style="background-image: url('{{url_for('static',filename='imgs/wall_menu.jpg')}}');">
		<header>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-7">
					<img src="{{url_for('static',filename='imgs/logo3.png')}}" alt="logo del sistema" class="logo">
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<nav>
						<a href="/" class="opciones">Inicio</a>
						<a href="/mi-cuenta/" class="opciones">Mi cuenta</a>
						<a href="/cerrar-sesion/" class="opciones">Cerrar sesion</a>
					</nav>
				</div>
			</div>
		</header>
		<h1 class="principal">Gestion de locales</h1><br>
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<label for="categoria_filtro">Categoria del local</label>
				<select id="categoria_filtro" name="categoria_filtro" style="width: 15%">
					<option value="">Seleccione una categoria</option>
					{% for categoria in categorias %}
						<option value="{{categoria}}">{{categoria}}</option>
					{% endfor %}
				</select><br><br>
				
				<div style="height: 620px ;overflow: auto;">
					<table id="datos_usuarios" border="1">
						<caption>Tabla de locales registrados</caption>
						<th scope="col"></th>
					</table>
					<div style="text-align-last: center;"><br>
						<button type="button" onclick="window.location.href='/'">Volver</button><br><br>
					</div>
				</div>

			</div>
			<div class="col-md-1"></div>
		</div>

	<script type="text/javascript">
		var loc = [
		{% for local in locales %}
			['{{local[1]}}','{{local[2]}}','{{local[5]}}','{{local[13]}}','{{local[14]}}','{{local[7]}}','{{local[8]}}','{{local[9]}}','{{local[10]}}','{{local[11]}}']{% if local != locales[-1] %},{% endif %}
		{% endfor %}
		];

		var datos_usuarios = document.getElementById("datos_usuarios");
		var categoria_filtro = document.getElementById("categoria_filtro");
		function llenar_tabla(datos){
			datos_usuarios.innerHTML = `
			<tr>
				<th>Tipo de identificacion</th>
				<th>Numero de identificacion</th>
				<th>Nombre de local</th>
				<th>Municipio de local</th>
				<th>Barrio de local</th>
				<th>Correo de contacto</th>
				<th>Categoria de local</th>
				<th>Telefono de contacto #1</th>
				<th>Telefono de contacto #2</th>
				<th>Telefono de contacto #3</th>
			</tr>`;
			for(var i=0;i<datos.length;i++){
				datos_usuarios.innerHTML += `
				<tr>
					<td>${datos[i][0]}</td>
					<td>${datos[i][1]}</td>
					<td>${datos[i][2]}</td>
					<td>${datos[i][3]}</td>
					<td>${datos[i][4]}</td>
					<td>${datos[i][5]}</td>
					<td>${datos[i][6]}</td>
					<td>${datos[i][7]}</td>
					<td>${datos[i][8]}</td>
					<td>${datos[i][9]}</td>
				</tr>`
			}
		}
		llenar_tabla(loc);

		categoria_filtro.onchange = function(){
			var categoria = categoria_filtro.value;
			var loc_filtrado = [];
			for(var i=0;i<loc.length;i++){
				if(!categoria.length || loc[i][6] == categoria){
					loc_filtrado.push(loc[i]);
				}
			}
			llenar_tabla(loc_filtrado);
		}


	</script>
	</body>
</html>