<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

		<title>Sistema de gestion de accesos y aforo</title>
	</head>

	<body style="background-image: url('{{url_for('static',filename='imgs/wall_menu.jpg')}}');">
		<header>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-7">
					<img src="{{url_for('static',filename='imgs/logo3.png')}}" class="logo">
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<nav>
						<a href="/" class="opciones">Inicio</a>
						<a href="/mi-cuenta/" class="opciones">Mi cuenta</a>
						<a href="/cerrar-sesion/" class="opciones">Cerrar sesion</a>
					</nav>
				</div>
			</div>
		</header>
		<h1 class="principal">Gestion de locales</h1><br>
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div style="height: 620px ;overflow: auto;">
					<table id="users_data" cellspacing="0" cellpadding="1" border="1">
						<tr>
							<th>Tipo de identificacion</th>
							<th>Numero de identificacion</th>
							<th>Nombre de local</th>
							<th>Municipio de local</th>
							<th>Barrio de local</th>
							<th>Correo de contacto</th>
							<th>Categoria de local</th>
							<th>Telefono de contacto #1</th>
							<th>Telefono de contacto #2</th>
							<th>Telefono de contacto #3</th>
							<th>Cambio de contraseña</th>
							<th></th>
							<th></th>
						</tr>
						{% for local in locales %}
							<tr>
								<form action="/gestionar-solicitudes/modificacion/comercio" method="POST">
								<input type="hidden" name="tipo_id" value="{{local[2]}}">
								<input type="hidden" name="num_id" value="{{local[3]}}">
								<input type="hidden" name="correo" value="{{local[6]}}">
								<input type="hidden" name="nombre" value="{{local[4]}}">
								<td>{{local[2]}}</td>
								<td>{{local[3]}}</td>
								<td>{{local[4]}}</td>
								<td>{{local[13]}}</td>
								<td>{{local[14]}}</td>
								<td>{{local[6]}}</td>
								<td>{{local[7]}}</td>
								<td>{{local[8]}}</td>
								<td>{{local[9]}}</td>
								<td>{{local[10]}}</td>
								<td>{{local[12]}}</td>
								<td><button type="submit" name="aceptar">Aceptar</button></td>
								<td><button type="submit" name="rechazar">Rechazar</button></td>
							</tr>
						{% endfor %}
					</table>
					<div style="text-align-last: center;"><br>
						<button type="button" onclick="window.location.href='/gestionar-solicitudes/'">Volver</button><br><br>
					</div>
				</div>

			</div>
			<div class="col-md-1"></div>
		</div>

	</body>
</html>