<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

		<title>Sistema de gestion de accesos y aforo</title>
	</head>

	<body style="background-image: url('{{url_for('static',filename='imgs/wall_menu.jpg')}}');">
		<header>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-7">
					<img src="{{url_for('static',filename='imgs/logo3.png')}}" class="logo">
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<nav>
						<a href="/" class="opciones">Inicio</a>
						<a href="/admin_cuenta/" class="opciones">Mi cuenta</a>
						<a href="/cerrar-sesion/" class="opciones">Cerrar sesion</a>
					</nav>
				</div>
			</div>
		</header>
		<h1 class="principal">Gestion de categorias</h1><br>
		
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<div style="height: 620px ;overflow: auto;">
					<table id="users_data" cellspacing="0" cellpadding="1" border="1">
						<tr>
							<th>Nombre</th>
						</tr>
						{% for categoria in categorias %}
							<tr>
								<td>{{categoria}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="col-md-1"><div style="width: 5px; background-color: #164545; height: 850px;"></div></div>
			<div class="col-md-2" style="text-align: center;">
				<form id="crear_categoria" action="/gestionar-categorias/" method="POST">
					<h5>Añadir categoria</h5><br>
					<input type="text" id="nombre" name="nombre" placeholder="Nombre de la categoria" required><br>
					<br><button>Añadir categoria</button>
				</form>
				<br><hr style="height: 5px; background-color: #164545;"><br>
				<form id="eliminar_categoria" action="/gestionar-categorias/" method="POST">
					<h5>Eliminar categoria</h5><br>
					<select id="categoria" name="categoria">
					{% for categoria in categorias %}
						<option value="{{categoria}}">{{categoria}}</option>
					{% endfor %}
					</select><br>
					<br><button>Eliminar categoria</button>
				</form>
				<br><hr style="height: 5px; background-color: #164545;"><br>
				<button type="button" onclick="window.location.href='/'">Volver</button><br><br>

			</div>
			<div class="col-md-1"></div>
		</div>
		{% with mensajes = get_flashed_messages() %}
		{% if mensajes %}
			{% for m in mensajes %}
				{% if m == 'no_nombre' %}
					<div id="popup_registro" class="bloquear">
						<div class="contenido">
							<h3><b>Error en el registro</b></h3><br>
							<p>
							Se ha producido un error en el registro de
							la categoria, el nombre ingresado ya se 
							encuentra registrado en la base de datos.
							</p>
							<button type="button" onclick="document.getElementById('popup_registro').style.display = 'none';">Finalizar</button>
						</div>
					</div>
				{% elif m == 'no_nombre_elim' %}
					<div id="popup_registro" class="bloquear">
						<div class="contenido">
							<h3><b>Error en la eliminacion</b></h3><br>
							<p>
							Se ha producido un error en la eliminacion
							de la categoria, el ID ingresado no se e
							ncuentra registrado en la base de datos.
							</p>
							<button type="button" onclick="document.getElementById('popup_registro').style.display = 'none';">Finalizar</button>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		{% endwith %}
	</body>
</html>